@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
    font-family: "Noto Serif", serif; 
}

.about-banner {
    max-width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.about-banner-content {
    flex: 1;
}

.about-banner-img{
    flex: 1;
}

.about-banner-content h4{
    color: #B56952;
    font-size: medium; 
}

.about-banner-content h1{
    color: #313656;
    margin-top: -10px;
}

.about-banner-content p{
    color: #8C969F;
    text-align: justify;
}

.icon-section{
    max-width: 80vw;
    margin: 8rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.icon-group div h2 {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.icon-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.icon-div p {
    text-align: justify;
}